/* result div */
.result {
  height: 60px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.result p {
  font-size: 40px;
  margin: 5px;
  color: white;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

/* button div  */
.button {
  display: block;
  background-color: #bbb;
}
button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:active {
  box-shadow: inset 0px 0px 80px 0px rgba(65, 75, 223, 0.25);
}

/* button "C + - * /" */
.butspe{
  background-color: rgb(223, 162, 30);
  -webkit-tap-highlight-color: rgba(243, 14, 14, 0);
}
.butspe:active {
  box-shadow: inset 0px 0px 80px 0px rgba(243, 14, 14, 0.25);
}

/* button "( CE )" */
.butspeG{
  background-color: rgb(209, 208, 206);
}
.butspeG:active {
  box-shadow: inset 0px 0px 80px 0px rgba(251, 255, 0, 0.25);
}